<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="9i8OY4C2i7fkvVP7b2VVxFN4JMhDVCfJVCVw1bttD-8" />
    <link rel="shortcut icon" type="image/jpeg" th:href="@{images/Logo.jpeg}">
    <title>Icaland.id | Foods,Beverages and Catering Service</title>
</head>
<body>
    <base href="/" />
    <div id="react"></div>
    <script type="text/javascript" th:src="@{js/bundle.js}"></script>
</body>
</html>